In this lab we're going to do simple data exploration using Pandas. Our objective is to learn basic operations that aid in visual data exploration.

<br>

First, let's import our required libraries and read in the data.

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os


cwd = os.getcwd()

#If on MAC, this will likely work
datadir = '/'.join(cwd.split('/')[0:-1]) + '/data/'
#If on window's machine, explicitly put in data dir
#datadir = 

%matplotlib inline


#Now read in the dataset loansdata.csv
loansData = pd.read_csv('/Users/angelateng/Documents/GitHub/DataScienceCourse/ipython/data/loansData.csv')

In [17]:
loansData

,CustNUm,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174,20000,20000.00,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,99592,19200,19200.00,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,80059,35000,35000.00,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,15825,10000,9975.00,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,33182,12000,12000.00,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years
5,62403,6000,6000.00,15.31%,36 months,other,20.05%,CT,OWN,4891.67,670-674,17.0,10391.0,2.0,3 years
6,48808,10000,10000.00,7.90%,36 months,debt_consolidation,26.09%,MA,RENT,2916.67,720-724,10.0,15957.0,0.0,10+ years
7,22090,33500,33450.00,17.14%,60 months,credit_card,14.70%,LA,MORTGAGE,13863.42,705-709,12.0,27874.0,0.0,10+ years
8,76404,14675,14675.00,14.33%,36 months,credit_card,26.92%,CA,RENT,3150.00,685-689,9.0,7246.0,1.0,8 years
9,15867,7000,7000.00,6.91%,36 months,credit_card,7.10%,CA,RENT,5000.00,715-719,8.0,7612.0,0.0,3 years
10,94971,2000,2000.00,19.72%,36 months,moving,10.29%,FL,RENT,3575.00,670-674,10.0,12036.0,0.0,6 years
11,36911,10625,10625.00,14.27%,36 months,debt_consolidation,12.54%,CA,MORTGAGE,4250.00,665-669,14.0,10767.0,0.0,< 1 year
12,41200,28000,27975.00,21.67%,60 months,debt_consolidation,13.07%,CT,MORTGAGE,14166.67,670-674,12.0,10311.0,0.0,1 year
13,83869,35000,34950.00,8.90%,36 months,debt_consolidation,20.46%,CT,RENT,9166.67,735-739,19.0,21536.0,0.0,1 year
14,53853,9600,9600.00,7.62%,36 months,debt_consolidation,3.45%,DC,RENT,11250.00,725-729,13.0,4606.0,0.0,< 1 year
15,21399,25000,24975.00,15.65%,60 months,debt_consolidation,21.99%,CA,RENT,5416.67,730-734,6.0,13929.0,0.0,9 years
16,62127,10000,10000.00,12.12%,36 months,debt_consolidation,17.72%,CA,RENT,9000.00,695-699,18.0,20317.0,0.0,7 years
17,23446,14000,13900.25,10.37%,60 months,debt_consolidation,11.95%,OH,RENT,4333.33,740-744,6.0,7419.0,0.0,9 years
18,44987,10000,10000.00,9.76%,36 months,credit_card,7.13%,FL,RENT,2733.33,730-734,7.0,6112.0,2.0,3 years
19,17977,5200,5175.00,9.99%,60 months,debt_consolidation,10.29%,AL,MORTGAGE,3750.00,760-764,10.0,16094.0,0.0,< 1 year
20,86099,22000,21975.00,21.98%,36 months,debt_consolidation,11.19%,TX,MORTGAGE,6666.67,665-669,9.0,23124.0,0.0,10+ years
21,99483,30000,30000.00,19.05%,60 months,credit_card,21.25%,FL,MORTGAGE,6250.00,695-699,12.0,34927.0,0.0,6 years
22,28798,6500,6500.00,17.99%,60 months,car,19.63%,FL,RENT,4100.00,665-669,11.0,11697.0,1.0,2 years
23,24168,17400,17400.00,11.99%,36 months,credit_card,12.47%,AZ,RENT,6833.33,695-699,7.0,26587.0,0.0,7 years
24,10356,4000,4000.00,16.82%,60 months,vacation,13.71%,GA,MORTGAGE,4500.00,670-674,5.0,20804.0,0.0,3 years
25,46027,7200,7200.00,7.90%,36 months,debt_consolidation,24.82%,TX,RENT,5416.67,705-709,8.0,12017.0,0.0,7 years
26,2238,8000,8000.00,14.42%,36 months,debt_consolidation,24.63%,MA,RENT,2964.17,675-679,9.0,8928.0,2.0,6 years
27,65278,8000,8000.00,15.31%,36 months,debt_consolidation,15.46%,CA,MORTGAGE,2916.67,675-679,13.0,7152.0,1.0,5 years
28,4227,3000,3000.00,8.59%,36 months,other,3.72%,MA,MORTGAGE,4167.00,765-769,4.0,7074.0,0.0,5 years
29,50182,14500,14500.00,7.90%,36 months,debt_consolidation,4.85%,GA,MORTGAGE,3958.33,760-764,4.0,9598.0,0.0,4 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2470,84265,20000,20000.00,22.95%,60 months,debt_consolidation,7.10%,NJ,RENT,6750.00,665-669,6.0,16104.0,1.0,7 years
2471,80231,19000,19000.00,7.90%,36 months,debt_consolidation,9.76%,RI,MORTGAGE,5166.67,770-774,18.0,43617.0,2.0,10+ years
2472,49533,17300,17250.00,22.45%,60 months,wedding,3.58%,PA,MORTGAGE,5500.00,685-689,11.0,2306.0,3.0,4 years
2473,102514,7000,711.54,15.13%,36 months,major_purchase,18.91%,CO,MORTGAGE,3833.00,650-654,13.0,12634.0,0.0,2 years
2474,78618,7200,7200.00,18.75%,36 months,debt_consolidation,16.21%,MI,RENT,8333.33,660-664,8.0,28916.0,0.0,10+ years
2475,86953,10000,10000.00,14.09%,36 months,major_purchase,9.71%,CO,RENT,4583.33,675-679,6.0,3859.0,0.0,< 1 year
2476,80129,4000,3925.00,14.09%,36 months,credit_card,12.27%,FL,MORTGAGE,8583.33,675-679,9.0,36943.0,1.0,10+ years
2477,85216,17500,17500.00,8.90%,36 months,debt_consolidation,10.94%,UT,MORTGAGE,25000.00,730-734,9.0,34545.0,0.0,6 years
2478,38247,20000,20000.00,11.71%,36 months,credit_card,9.58%,SD,MORTGAGE,5416.67,725-729,12.0,18267.0,1.0,4 years
2479,91245,16200,16200.00,15.80%,60 months,debt_consolidation,7.92%,PA,MORTGAGE,4833.33,680-684,12.0,12313.0,2.0,10+ years
2480,53041,10000,10000.00,6.03%,36 months,small_business,13.03%,FL,RENT,5000.00,760-764,8.0,3952.0,0.0,2 years
2481,63051,27000,27000.00,6.62%,36 months,debt_consolidation,12.21%,OH,MORTGAGE,9250.00,810-814,12.0,4211.0,0.0,5 years
2482,14446,4500,4475.00,7.51%,36 months,small_business,20.27%,VA,MORTGAGE,7075.50,720-724,15.0,68618.0,2.0,10+ years
2483,68628,15875,15875.00,14.33%,36 months,small_business,17.44%,MD,MORTGAGE,3416.67,675-679,11.0,15891.0,0.0,2 years
2484,98758,15000,15000.00,10.16%,36 months,credit_card,28.28%,OH,MORTGAGE,6666.67,690-694,15.0,14880.0,0.0,10+ years
2485,13070,25000,24950.00,10.75%,36 months,debt_consolidation,20.48%,OR,MORTGAGE,7083.33,765-769,10.0,25429.0,0.0,6 years
2486,45836,7000,7000.00,17.27%,36 months,other,18.38%,NY,OWN,2464.37,665-669,9.0,7089.0,0.0,3 years
2487,52330,15000,15000.00,19.99%,36 months,wedding,18.05%,CA,RENT,8000.00,660-664,6.0,45976.0,1.0,2 years
2488,48243,17000,17000.00,15.81%,36 months,debt_consolidation,17.01%,CO,RENT,3833.33,685-689,6.0,15484.0,1.0,6 years
2489,63256,19075,19075.00,18.75%,36 months,debt_consolidation,15.23%,NY,RENT,5166.67,670-674,17.0,13749.0,3.0,10+ years
2490,42124,10000,10000.00,11.71%,36 months,debt_consolidation,8.40%,CA,RENT,4500.00,710-714,8.0,8404.0,1.0,3 years
2491,78043,8475,8475.00,7.62%,36 months,debt_consolidation,15.88%,CA,RENT,3983.33,720-724,9.0,6882.0,0.0,NaN
2492,925,6400,6350.00,10.08%,36 months,debt_consolidation,8.11%,NJ,MORTGAGE,5166.67,710-714,5.0,5815.0,2.0,10+ years
2493,74047,30000,30000.00,23.28%,60 months,other,12.10%,IL,MORTGAGE,7083.33,675-679,16.0,17969.0,1.0,10+ years
2494,49957,24000,23975.00,14.65%,36 months,debt_consolidation,15.29%,WA,MORTGAGE,6666.67,685-689,13.0,17521.0,0.0,5 years
2495,23735,30000,29950.00,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
2496,65882,16000,16000.00,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years
2497,55610,10000,10000.00,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
2498,38576,6000,6000.00,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
2499,3116,9000,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

The full schema can be found <a href="https://github.com/herrfz/dataanalysis/blob/master/assignment1/Assignment1.pdf">here</a>, but let's use native Pandas methods to also explore the data. Although not specified above, this csv has row headers and the read_csv function implicitly knows this. <br>

Let's take a look at the column names, in a nicely readable way:

In [21]:
print("Column Names Are:")
print("")

for column_name in loansData.columns.values:
    print(column_name)

print("")
print('Total # of Columns = {}'.format(len(loansData.columns)))

Column Names Are:

CustNUm
Amount.Requested
Amount.Funded.By.Investors
Interest.Rate
Loan.Length
Loan.Purpose
Debt.To.Income.Ratio
State
Home.Ownership
Monthly.Income
FICO.Range
Open.CREDIT.Lines
Revolving.CREDIT.Balance
Inquiries.in.the.Last.6.Months
Employment.Length

Total # of Columns = 15

In [23]:
loansData.columns

Index(['CustNUm', 'Amount.Requested', 'Amount.Funded.By.Investors',
       'Interest.Rate', 'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio',
       'State', 'Home.Ownership', 'Monthly.Income', 'FICO.Range',
       'Open.CREDIT.Lines', 'Revolving.CREDIT.Balance',
       'Inquiries.in.the.Last.6.Months', 'Employment.Length'],
      dtype='object')

It is oftentimes helpful to take a quick glance at the first few records (when possible). This is an easy way to discover basic data flaws (i.e., all nulls, misaligned fields, etc.). We can do this in Pandas very easily.

In [19]:
loansData.head().transpose() #We transpose it so it will fit in the display window

,0,1,2,3,4
CustNUm,81174,99592,80059,15825,33182
Amount.Requested,20000,19200,35000,10000,12000
Amount.Funded.By.Investors,20000,19200,35000,9975,12000
Interest.Rate,8.90%,12.12%,21.98%,9.99%,11.71%
Loan.Length,36 months,36 months,60 months,36 months,36 months
Loan.Purpose,debt_consolidation,debt_consolidation,debt_consolidation,debt_consolidation,credit_card
Debt.To.Income.Ratio,14.90%,28.36%,23.81%,14.30%,18.78%
State,SC,TX,CA,KS,NJ
Home.Ownership,MORTGAGE,MORTGAGE,MORTGAGE,MORTGAGE,RENT
Monthly.Income,6541.67,4583.33,11500,3833.33,3195
FICO.Range,735-739,715-719,690-694,695-699,695-699
Open.CREDIT.Lines,14,12,14,10,11
Revolving.CREDIT.Balance,14272,11140,21977,9346,14469
Inquiries.in.the.Last.6.Months,2,1,1,0,0
Employment.Length,< 1 year,2 years,2 years,5 years,9 years

Next, let's run a quick line to get summary statistics of the numeric fields.

In [24]:
loansData.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
CustNUm,2500.0,51631.597200,30053.345508,10.00,26523.00,50653.0,77580.50,104202.0
Amount.Requested,2500.0,12406.500000,7801.544872,1000.00,6000.00,10000.0,17000.00,35000.0
Amount.Funded.By.Investors,2500.0,12001.573236,7745.320754,-0.01,6000.00,10000.0,16000.00,35000.0
Monthly.Income,2499.0,5688.931321,3963.118185,588.50,3500.00,5000.0,6800.00,102750.0
Open.CREDIT.Lines,2498.0,10.075661,4.508644,2.00,7.00,9.0,13.00,38.0
Revolving.CREDIT.Balance,2498.0,15244.559648,18308.549795,0.00,5585.75,10962.0,18888.75,270800.0
Inquiries.in.the.Last.6.Months,2498.0,0.906325,1.231036,0.00,0.00,0.0,1.00,9.0

In [27]:
df = pd.DataFrame({'friendname': ['bob', 'fred', 'sally'], 'height': [1,4,10]})

In [29]:
df

  friendname  height
0        bob       1
1       fred       4
2      sally      10

In [37]:
df.loc[12:'height']

Empty DataFrame
Columns: [friendname, height]
Index: []

In [38]:
df.loc[:,'height']

0     1
1     4
2    10
Name: height, dtype: int64

In [35]:
df.loc[:,['friendname', 'height']]

  friendname  height
0        bob       1
1       fred       4
2      sally      10

Let's now focus on a single column, 'Monthly.Income.' First things first, let's display the first five records of just this field.

In [4]:
#Student input line here

Let's try and understand the distribution of this field. We can do this using the hist() method and matplotlib.

In [5]:
#plt.figure()
#hist_inc = loansData['Monthly.Income'].hist()
#plt.title('Histogram of Monthly Income')
#plt.show()

How would you characterize the shape of this distribution? Is there anything we can do to the income variable to make the distribution more bell curved? Let's create a new column in the dataframe called 'Monthly.LogIncome' and print a histogram of it. What might be some advantages of making such a transformation?
<br>

In [6]:
#Student: Add a new column Monthly.LogIncome to the dataset that is the log of the Monthly.Income columne

In [ ]:
#Now look at the distribution
plt.figure()
h = loansData['Monthly.LogIncome'].hist()
plt.title('Histogram of Log(Monthly Income)')
plt.show()

Now let's answer some questions about the data.

<b>Q1: What is the cardinality (i.e., # of distinct values) for 'Interest.Rate' and 'FICO.Range'</b>

In [7]:
#Student input code here - hint, the 'describe()' method returns a useful dataframe

<b>Q2: What data type did Pandas set fo Interest.Rate? Can we create a new field which is stored as a float?</b>

In [8]:
#Student input code here - show the field type

In the cell below, create a new field 'Interest.Rate.Num' where 'Interest.Rate' is converted to a float. Hint: this can be done in one line using the .str assessor, strip and astype methods.

In [13]:
#Student input code here - convert field to a float using the '.str' assessor

<b>Q3: Can we get a sense of the relationship between monthly income and interest rate? Use the scatter() function from Matplotlib.</b>

In [9]:
#Student input line here

Given the skewed distribution of Income, is this chart visually helpful? Let's try the Log of income instead.

In [10]:
#Student input code here

<b>Q4: What is the average interest rate for each FICO range?</b> <br>
Hint: use the groupby() method in Pandas.

In [11]:
#Student input code here
fico_grp =

In [12]:
#fico_grp